

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une annonce</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    

    <div class="card card-container mt-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="announcement">Créer une annonce :</label>
                                <textarea
                                    class="form-control"
                                    name="announcement"
                                    required
                                    placeholder="Taper ici ....."
                                    autofocus=""
                                    [(ngModel)]="ann.announsment"></textarea>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-center">
                                        <button (click)="createannouncement()" class="btn btn-primary">Announcement</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


